@{
    ViewBag.Title = "AllClient";
}
@section HeadContent {
    @Styles.Render("~/Content/Student")
    @Styles.Render("~/Content/css")
}
<br />
<br />
<br />

<div ng-app="studentApp" ng-controller="PathwayCtrl as sp" ng-cloak>
    <div>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>
                    <span>Client Id</span>
                </th>
                <th>
                    <span>Description</span>
                </th>
                <th>
                    <span>Client Name</span>
                </th>

                <th>
                    <span>Project</span>
                </th>
                <th>
                    <span>Client Email</span>
                </th>
                <th>
                    <span>Rate</span>
                </th>
                <th>
                    <span>Terms And Condition</span>
                </th>
                <th>
                    <span>Special</span>
                </th>
                <th>
                    <span>Action</span>
                </th>
            </tr>


            <tr ng-repeat="data in sp.clientList">
                <td>{{data.ClientId}}</td>
                <td>{{data.Description}}</td>
                <td>{{data.ClientName}}</td>
                <td>{{data.Project}}</td>
                <td>{{data.ClientEmail}}</td>
                <td>{{data.Rate}}</td>
                <td>{{data.TermsAndService}}</td>
                <td>{{data.special}}</td>
                <td>
                    <md-button  class="md-raised md-primary" ng-click="UpdateClient()">Update</md-button>
                    <md-button class="md-raised md-warn" ng-click="sp.DeleteClient(data.ClientId)">Delete</md-button>
                </td>
            </tr>

        </table>
    </div>

    @section scripts{
        @Scripts.Render("~/bundles/Angular")
        @Scripts.Render("~/bundles/Common")
        @Scripts.Render("~/Bundle/Student")
    }
</div>



